body {
    font-family: Jetbrains Mono, monospace;
}

/* project-list */
table {
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

table tr td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #24695c;
    border-right: 1px solid #ccc;
    color: white;
    text-align: left;
    padding: 15px;
}

.sample-button {
    background-color: #24695c;
    color: white;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    transform: opacity 0.15s;
}

.sample-button:hover {
    background-color: #24695c;
    opacity: 0.8;
    color: white;
}

/* project update  */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #24695c; */
}

.app {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-control {
    padding: 0.5rem 0;
    font-size: 1rem;
    border: 1px solid #ccc;
}


/* project-update */

h1{
    padding: 1rem;
}
.file-form {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 1rem;
  }

.file-form img {
    cursor: pointer;
    background-color: transparent;
    border-radius: 50px;
    transform: background-color 0.15s;
}

.file-form img:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.documents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.document-card {
    height: 12rem;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.document-card a {
    font-size: 1.5rem;
    text-decoration: none;
    color: gray;
}

.document-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.submit {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button {
    padding: 0.5rem 2rem;
    border: none;
    background-color: #24695c;
    font-size: 1.8rem;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
}