.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;

    text-align: center;
    display: flex;
    align-items: center;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.header-left {
    width: 300px;
    min-width: 300px;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #24695c;
    border-right: 1px solid rgb(230, 237, 239);
}

.header-left .main-title {
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.header-left svg {
    padding-right: 20px;
    cursor: pointer;
}

.header-middle {
    flex: 2;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.header-middle div {
    background-color: #24695c;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#plus {
    height: 100%;
    width: 5%;
    background-color: white;
    position: relative;
    margin-left: 47.5%;
}
#plus::after {
    content: "";
    height: 5%;
    width: 2000%;
    background: white;
    position: absolute;
    top: 47.5%;
    left: -950%;
}

.header-right {
    flex: 3;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 2rem;
    padding-right: 20px;
}

.header-right .notification-box {
    cursor: pointer;
}

.header-right .logout a {
    border: none;
    border-radius: 4px;
    padding: 0.2rem 1rem;
    text-decoration: none;

    background-color: rgba(22, 142, 234, 0.1);
    color: #24695c;
    transition: background-color 0.15s, color 0.15s;

    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}

.header-right .logout a:hover {
    color: #fff;
    background-color: #24695c;
}

.header-right .logout a span{
    font-size: 1.1rem;
}

.header-right .profile img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 50%;
    cursor: pointer;
}
