.main {
    padding: 1%;

    display: flex;
    flex-direction: column;

    margin-left: 300px;
}

.search {
    background-color: red;
}

.actions {
    flex: 30px;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 30px;
    gap: 5px;
}

.actions button {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.2rem 0.2rem;
    font-weight: 700;
    cursor: pointer;

    transition: opacity 0.15s;
}

.actions button:hover {
    opacity: 0.8;
}

.actions button a {
    color: white;
    text-decoration: none;
}

.actions button.red:not(.disabled) {
    background-color: red;
}

.actions button.orange:not(.disabled) {
    background-color: orange;
}

.actions button.yellow {
    background-color: rgb(189, 189, 67);
}

.actions button.green {
    background-color: #24695c;
}

.actions button.red.disabled {
    background-color: #ccc;
    color: grey;
}

.actions button.orange.disabled {
    background-color: #ccc;
    color: grey;
}

.table-container {
    display: grid;
    place-items: center;
}

table {
    margin-top: 1%;

    display: block;
    width: 100%;
    overflow-x: scroll;

    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

th:not(.id-row), td:not(.id-row) {
    min-width: 190px;
    text-align: left;
    vertical-align: middle;
}

th.id-row, td.id-row {
    min-width: 50px;
    text-align: center;
}

th {
    height: 3rem;
    background-color: #24695c;
    color: white;
    font-weight: 800;

    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}


th.title {
    background-color: #24695c;
    color: white;
}

td {
    height: 2rem;
    width: 200px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.title {
    color: rgb(27, 76, 67);
}

.long {
    width: 200px;
    overflow-x: hidden;
    /* it will let the content stretch the td width */
    white-space: nowrap;    
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

.active:not(.title) {
    color: #009879;
    font-weight: bold;
}

.pagination {
    background-color: green;
}