<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'app_a/css/style.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>    <!-- vue.js for dev -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script>   -->      <!-- vue.js for prod -->
    </head>
    <body>
        <div>
            <a href="/">Back Home</a>
        </div>
        <h1>Project List</h1> 
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
            </tr>
            {% for p in project_list %}
            <tr>
                <td>{{p.id}}</td>
                <td><a href="{% url 'app_a:project_detail' p.pk %}">{{p.name}}</a></td>
                <td><a href="{% url 'app_a:project_update' p.pk %}">Update</a></td>
            </tr>
            {% endfor %}
        </table>

        <hr>
        <div id="app">
            <button class="sample-button" @click="toggleLovHate()">Click Me & See</button>
            <h1>[[ message ]]</h1>
        </div>
        <div style="display: flex; 
                align-items: start;
                column-gap: 1rem;">
                <div>Edit and Delete</div>
            <div>📘</div>
            <div>❌</div>
            <div>And others</div>
            <div>🔥</div>
            <div>❤️</div>
        </div>
        <hr>
        <h4>Check out more on this video if you want to submit a file together with other fields</h4>
        <div>https://www.youtube.com/watch?v=1Y28xEn-XGo&t=296s</div>




        <script>
            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        </script>
        <script>
        var app = new Vue({
            delimiters: ["[[", "]]"],
            el: '#app',
            data: {
                message: '✔️',
            },
            methods: {
                toggleLovHate: function() {
                    this.message = ('❌' === this.message) ? '✔️' : '❌';
                }
            }
          });
          </script>
    </body>
</html>