<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div id="app">
    <h1>{{ object.name }}</h1>
    <a href="{% url 'app_a:project_list'  %}">BACK TO LIST</a>
    <hr />

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      Click to Upload
      <img id="upload-icon" src="{% static 'images/upload.png' %}" width="50">
      <input type="file" class="auto-submit" name="file" multiple  hidden>
    </form>

    <ul id="documents">
      {% for document in object.document_set.all %}
      <li>
        {{ document.filename }}
        <a href="{{ document.file.url }}">下载</a>
        <button @click="del_file(this, '{{ document.pk }}')">
          Delete
        </button>
      </li>
      {% endfor %}
    </ul>
    </div>

    <script src="{% static 'common/jquery-3.6.0.min.js' %}"></script>
    <script>

      $('#upload-icon').click(function(){
        $('input[name="file"]').click();
      });
      
      $('form .auto-submit').on('change', function(e) {
        this.form.submit();
     });
    </script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      axios.defaults.xsrfCookieName = 'csrftoken';
      axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>

    <script>
    var app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#app',
        data: {
            message: 'Reason',
        },
        methods: {
            toggleLovHate: function() {
                this.message = ('Passion' === this.message) ? 'Reason' : 'Passion';
            },
            del_file: function(e, doc_pk) {
                let pro_pk = "{{ object.pk }}";
                console.log(pro_pk, doc_pk)
                axios.post("{% url 'app_a:del_file' %}", {
                    pro_pk: pro_pk,
                    doc_pk: doc_pk,
                }).then(function(response) {
                  let status = response.data.status;
                  if (status == 'success') {
                    console.log('ok')
                  }
                }).catch(function(error) {
                    console.log(error);
                });
            }
        }
      });
      </script>

  </body>
</html>
