{% extends 'app_d/base.html' %}
{% load static %}
{% load filter_pag_order %}

{% block css %}
<link rel="stylesheet" href="{% static 'app_d/css/samplemodel_list.css' %}">
<link rel="stylesheet" href="{% static 'app_d/css/modals.css' %}">
{% endblock css %}

{% block main %}
<div class="main">
    <form novalidate id="search_form">
        <div class="search">
            {% for field in search_form %}
            <div class="form-field">
                {{ field.label_tag }}
                <div class="field">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="form-field">
                <a class="reset-button" href="{% url 'app_d:list' %}">Reset</a>
                <button class="search-button">Search</button>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="green" id="create-button">Create</button>
        <button class="orange disabled" id="update-button" disabled>Update</button>
        <button class="red disabled" id="delete-button" disabled>Delete</button>
        <button class="yellow">Yellow</button>
        <button class="green"><a href="#">Green</a></button>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <th class="id-row"><input type="checkbox" id="toggle-checkboxes"></th>
                <th>Shorter Characters</th>
                <th class="title">Boolean</th>
                <th style="display: flex; 
                justify-content: space-between; 
                align-items: center;">
                    <a style="text-decoration: none;"
                        href="{% relative_url '-date' 'order_by' request.GET.urlencode %}">🔽</a>
                    <span>Date</span>
                    <a style="text-decoration: none;"
                        href="{% relative_url 'date' 'order_by' request.GET.urlencode %}">🔼</a>
                </th>
                <th>Longer Characters</th>
                <th>Date & Time</th>
                <th style="display: flex; 
                justify-content: space-between; 
                align-items: center;">
                    <a style="text-decoration: none;"
                        href="{% relative_url '-integer' 'order_by' request.GET.urlencode %}">🔽</a>
                    <span>Integer</span>
                    <a style="text-decoration: none;"
                        href="{% relative_url 'integer' 'order_by' request.GET.urlencode %}">🔼</a>
                </th>
                <th>Float</th>
                <th>Decimal Number</th>
                <th>Text</th>
            </thead>
            <tbody>
                {% for s in samplemodel_list %}
                <tr id="{{ s.pk }}">
                    <td class="id-row"><input type="checkbox" value="{{ s.pk }}" name="ids"></td>
                    <td class="title">{{ s.char }}</td>
                    <td>{{ s.bool }}</td>
                    <td>{{ s.date|date:"Y-m-d" }}</td>
                    <td class="long">{{ s.longer_char }}</td>
                    <td>{{ s.datetime|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ s.integer }}</td>
                    <td>{{ s.float_info }}</td>
                    <td>{{ s.decimal }}</td>
                    <!-- <td>{{ s.text|truncatewords:3 }}</td> -->
                    <!-- truncatewords 只能用于外文单词 -->
                    <td>{{ s.text|truncatewords:3 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <div>Total {{ page_obj.paginator.count }} records in {{page_obj.paginator.num_pages}} pages</div>
        <ul>
            {% if page_obj.has_previous %}
            <a class="page-link {% if i == page_obj.previous_page_number %}active{% endif %}"
                href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">prev</a>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
            {% if i == 1 %}
            <a class="page-link {% if i == page_obj.number %}active{% endif %}"
                href="{% relative_url i 'page' request.GET.urlencode %}">|&lt;</a>
            {% elif i == page_obj.paginator.num_pages %}
            <a class="page-link {% if i == page_obj.number %}active{% endif %}"
                href="{% relative_url i 'page' request.GET.urlencode %}">&gt;|</a>
            {% else %}
            <a class="page-link {% if i == page_obj.number %}active{% endif %}"
                href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a class="page-link {% if i == page_obj.next_page_number %}active{% endif %}"
                href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">next</a>
            {% endif %}

            <input type="text" step="1" min="1" max="{{ page_obj.paginator.num_pages }}" id="page-input">
            <a class="page-link active" href="javascript:goPage()">GO</a>
        </ul>
    </div>
</div>
{% endblock main %}

{% block modal %}
<div class="overlay delete-overlay">
    <div class="delete-modal">
        <h1>Confirm Delete</h1>
        <p>Are you sure to delete?</p>
        <div class="button-group">
            <button class="cancel-button">Cancel</button>
            <button class="confirm-button" id="js-delete-confirm">Confirm</button>
        </div>
    </div>
</div>

<div class="overlay create-overlay">
    <div class="create-modal">
        <h1>Create New</h1>
        <form id="create-update-form" novalidate>
            {% csrf_token %}
            <div class="form">
                <input type="hidden" name="post_ids" value="">
                {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    <div class="field">
                        {{ field }}
                        <div class="field-error" id="{{ field.name}}_error">&nbsp;</div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="button-group">
                <button class="cancel-button" type="button" id="cancel-create-button">Cancel</button>
                <button class="submit-button green" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock modal %}

{% block script %}
<script src="{% static 'app_d/js/ajax.js' %}"></script>
<script src="{% static 'app_d/js/modals.js' %}"></script>
<script src="{% static 'app_d/js/main.js' %}"></script>
<script>
    var search_str = window.location.search.substring(1)
    var str_list = search_str.split("&");
    console.log(str_list, typeof(str_list), str_list[0] === '')
    if (str_list.length !== 1 ||  (str_list.length === 1 && str_list[0] !== '')) {
        for (let i = 0; i < str_list.length; i++) {
            const pair = str_list[i].split("=")
            const [name, value] = pair

            // for checkboxes
            if (name.endsWith("__in")) {
                for (let j = 0; j < pair.length; j++) {
                    if (value) {
                        $(`input[name=${name}][value=${value}]`).prop("checked", true)
                    }
                }
            }
            // for input fields
            else {
                // let sel = $("select[name=" + str1[0] + "]");
                // let sel = $(`select[name='${str1[0]}']`);
                // sel.val(decodeURIComponent(str1[1]));
                $(`input[name=${name}]`).val(decodeURIComponent(value));
                // $(`input[name=${name}]`).val(value);
            }
        }
    }
    function goPage() {
        let page = $("#page-input").val();
        max = '{{ page_obj.paginator.num_pages }}';
        if (Number.isInteger(Number(page)) && Number(page) <= Number(max)) {
            location.href = `{% relative_url '${page}' 'page' request.GET.urlencode %}`.replaceAll('&amp;', '&');
        }
    }
</script>
{% endblock script %}