.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.05);

    display: none;
    justify-content: center;
    align-items: top;
}

.create-modal {
    background-color: white;
    width: 1250px;
    height: 500px;
    margin-top: 150px;

    font-family: 'JetBrains Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: top;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

}

.create-modal h1 {
    text-align: center;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

.form .form-field {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    padding-left: 10px;
}

.form .form-field .field {
    display: flex;
    flex-direction: column;
}

.form .form-field .field .field-error {
    color: red;
    font-size: 12px;
    width: 90%;
    display: inline;
}

/* radio select */
.form .form-field .field div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 170px;
}

.form .form-field .field div label{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.form .form-field .field div label input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}

.form .form-field .field input {
    width: 90%;
    height: 30px;
} 

.form .form-field .field textarea {
    width: 90%;
    height: 30px;
} 

.form .form-field label {
    width: 100%;
    height: 30px;
}

.button-group {
    margin-top: 10px;
    text-align: center;
}

.button-group .green {
    margin-left: 30px;
    background-color: #24695c;
    color: white;
    transition: opacity 0.15s;
}

.button-group .green:hover {
    opacity: 0.8;
}

.button-group .green:active {
    opacity: 0.4;
}








.delete-modal {
    background-color: white;
    width: 500px;
    height: 300px;
    margin-top: 150px;

    font-family: 'JetBrains Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.delete-modal h1 {
    font-weight: bold;
}

.delete-modal p {
    margin: 0 0 20px 0;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.cancel-button {
    background-color: gray;
    color: white;
}

.cancel-button:hover {
    opacity: 0.8;
}

.cancel-button:active {
    opacity: 0.4;
}


.confirm-button {
    background-color: rgb(204, 0, 0);
    color: white;
}

.confirm-button:hover {
    opacity: 0.8;
}

.confirm-button:active {
    opacity: 0.4;
}